[submodule "docker-vault"]
	path = docker-vault
	url = git@github.service.anz:ics/docker-vault.git
[submodule "docker-consul"]
	path = docker-consul
	url = git@github.service.anz:ics/docker-consul.git
